example_1.json
[{"id":"e4988656.791cc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a365753a.0178d8","type":"inject","z":"e4988656.791cc8","name":"Scan","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["fc4fc0e.4a584c"]]},{"id":"fc4fc0e.4a584c","type":"ruuvi-scan","z":"e4988656.791cc8","name":"Scanner","mac":"C8:32:49:63:9C:98","x":160,"y":140,"wires":[["42f6a96.0a30e58"]]},{"id":"dbc56f8.8fc7e1","type":"debug","z":"e4988656.791cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":260,"wires":[]},{"id":"42f6a96.0a30e58","type":"ruuvi-adapter","z":"e4988656.791cc8","name":"Adapter","x":180,"y":260,"wires":[["dbc56f8.8fc7e1"],[],[],[],[]]}]